$black: #000;
$white: #fff;
$grey: #9D9D9D;
$very-light-gray: #f1f5f7;
$light-gray: #e0e0e0;
$dark-grey: #616161;
$very-dark-gray: #272727;
$purple: #6639B6;
$blue: #02A8F3;
$blue-zodiac: #3a3f51;
$blue-pacific: #5cc5e8;

$font-size-base: 16px;
