@import 'fonts';
@import 'variables';
@import 'base';
@import 'templates/layout/layout';
@import 'templates/includes/header';
@import 'templates/includes/alert';
@import 'templates/spinner/spinner';
@import 'templates/login/login';
@import 'templates/dashboard/dashboard';
@import 'templates/editor/editor';
@import 'templates/gist/gist';
@import 'templates/room/room';
@import 'templates/modals/modal';
@import 'templates/player/player';
@import 'templates/dashboard/card';
@import 'templates/media/media';
@import 'templates/chat/chat';
@import 'templates/notifications/notifications';
@import 'templates/recordings/recordings';
@import 'templates/home/home';

html,
body {
  background: #fafafb;
  font-family: 'Roboto', sans-serif;
  font-size: $font-size-base;
  min-height: 100vh;
  position: relative;
}

.btn {
  //border-radius: 2px;

  &:focus,
  &:active {
    outline: none !important;
  }

  &:focus {
    color: $white;
  }

  &:active {
    &:focus {
      outline: 0;
    }
  }
}

.btn-circle {
  width: 30px;
  height: 30px;
  text-align: center;
  padding: 6px 0;
  font-size: 12px;
  line-height: 1.428571429;
  border-radius: 15px;
}

.btn-ellipse {
  border-radius: 24px;
}

.btn-ellipse--lg {
  padding: 6px 24px;
}

.btn-circle--lg {
  width: 45px;
  height: 45px;
  padding: 10px;
  font-size: 18px;
  line-height: 1.33;
  border-radius: 25px;
}

.btn-red {
  background-color: #F34235;
  border-color: #c3352b;
  color: $white;

  &:hover {
    background-color: #c3352b;
    border-color: #c3352b;
    color: $white;
  }
}

.btn-blue {
  background-color: $blue;
  border-color: #0396d8;
  color: $white;

  &:hover {
    background-color: #0396d8;
    border-color: #0396d8;
    color: $white;
  }
}

.btn-teal {
  background-color: #009587;
  border-color: #018175;
  color: $white;

  &:hover {
    background-color: #018175;
    border-color: #018175;
    color: $white;
  }
}

.btn-grey {
  background-color: $grey;
  border-color: #888888;
  color: $white;

  &:hover {
    background-color: #888888;
    border-color: #888888;
    color: $white;
  }
}

.btn-purple {
  background-color: $purple;
  border-color: #5e35a8;
  color: $white;

  &:hover {
    background-color: #5e35a8;
    border-color: #5e35a8;
    color: $white;
  }
}

::-webkit-scrollbar {
  width: 0;
}

.control {
  cursor: pointer;
  display: block;
  font-size: 18px;
  margin-bottom: 15px;
  padding-left: 30px;
  position: relative;

  input {
    opacity: 0;
    position: absolute;
    z-index: -1;
  }

  input:checked ~ .control__indicator:after {
    display: block;
  }
}

.control input:checked ~ .control__indicator {
  background: $blue;
}

.control__indicator {
  background: $light-gray;
  height: 20px;
  left: 0;
  position: absolute;
  top: 2px;
  width: 20px;

  &:after {
    border: solid $white;
    border-width: 0 2px 2px 0;
    height: 8px;
    left: 8px;
    top: 4px;
    width: 3px;
    transform: rotate(45deg);

    content: '';
    position: absolute;
    display: none;
  }
}

.msg {
  margin: 10px 0;
  padding: 10px;
  border-radius: 3px 3px 3px 3px;
}

.msg--info {
  color: #059;
  background-color: #BEF;
}
