template(name="spinner")
  .spinner__grid
    .spinner__square.spinner__square-1
    .spinner__square.spinner__square-2
    .spinner__square.spinner__square-3
    .spinner__square.spinner__square-4
    .spinner__square.spinner__square-5
    .spinner__square.spinner__square-6
    .spinner__square.spinner__square-7
    .spinner__square.spinner__square-8
    .spinner__square.spinner__square-9
