template(name="login")
  h1.text-center Meteor Room
  h2.text-center Easily record your coding session

  center
    h6 Sign in with:
    .btn-google.btn-js-signin
      span.btn-google__icon
      span.btn-google__text Google
