template(name='login')
  .wrapper
    .container
      .row
        .col-lg-12
          .block.block--center
            .panel.panel--flat
              .panel-header
                a(href="#")
                  img.block--center(src="/logo-alpha.png")
              .panel-body
                p.panel-body-title
                  | SIGN IN TO CONTINUE

                div
                  form(role="form" class="signin")
                    button.btn-signin.btn-signin--google(type="submit")
                      | Sign in with Google
