template(name="recordingPage")
  .player
    .player__container
      .player__code__area
        +editor
      .player__media__area
        #media-container.player__video__container
          video#media-video

    .player__controls-container
      .player__play-control
        .player__play-button
          i.mdi.mdi-play
        .player__pause-button
          i.mdi.mdi-pause
      .player__indicator 0:00 / 0:00
      .player__progress
        .player__progress-background
        .player__progress-over
        .player__progress-hidden
      .fullscreen-button
