template(name='recordingItem')
  li
    .item__thumbnail
      if isPlaylistEditPage
        .item__actions
          button.btn.btn-js-delete-recording
            span.mdi.mdi-delete
      a(href='{{pathFor route="recordingDetail" _id=_id}}')
        img(alt='Recording' src='/recording-img-default.jpg')
        span.item__thumbnail__text
          =parseDuration(duration)
    .item__title
      a(href='{{pathFor route="recordingDetail" _id=_id}}')
        | #{title}
    .item__metadata
      | #{owner}
    .item__date
      | #{createdAt}
