template(name="recordingPage")
  .player
    .room__header
      .room__header__logo
        a(href='/')
          img(src='https://cdn-images-1.medium.com/fit/c/60/60/1*8IJLE6whfP_f3rE8mFiAkA.png')
          span CodeRoom

      .player__header__content
        .player__header__title
          | #{recordingName}

    .player__container
      .player__code__area
        +editor
      .player__media__area
        #media-container.player__video__container
          video#media-video

    .player__controls-container
      .player__play-control
        .player__play-button
          i.mdi.mdi-play
        .player__pause-button
          i.mdi.mdi-pause
      .player__indicator 0:00 / 0:00
      .player__progress
        .player__progress-background
        .player__progress-over
          .player__circle
        .player__progress-hidden
      .fullscreen-button
