template(name='player')
  .player__controls-container
    .player__play-control
      .player__play-button
        i.mdi.mdi-play
      .player__pause-button
        i.mdi.mdi-pause
    .player__indicator 0:00 / 0:00
    .player__progress
      .player__progress-background
      .player__progress-over
        .player__progress-over-circle
      .player__progress-hidden
    .fullscreen-button
