.nav {
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 30px;
  position: absolute;
  width: 100%;
  z-index: 1;
}

.nav__content {
  margin: auto;
  max-width: 1024px;
}

.nav__logo {
  text-align: center;

  a {
    &:hover {
      text-decoration: none;
    }

    &:focus {
      outline: none;
    }
  }

  img {
    width: 200px;
  }

  span {
    color: $white;
    display: inline-block;
    letter-spacing: 2px;
    font-size: 2.5rem;
    margin-left: 4px;
    text-transform: uppercase;
    vertical-align: middle;
  }
}

.wrapper__signup {
  display: table;
  height: 100%;
  min-height: 500px;
  position: relative;
  width: 100%;
}

.wrapper__headline {
  background: linear-gradient(rgba(0, 104, 134, 0.5), rgba(0, 104, 134, 0.5)), url('/sign-up-background.jpg');
  background-size: cover;
  display: table-cell;
  padding: 0 30px;
  padding-top: 100px;
  text-align: center;
  vertical-align: middle;

  h1 {
    color: $white;
    font-size: 2rem;
    font-weight: 300;
    line-height: 57px;
    margin: 0;
  }

  h2 {
    color: #ddd;
    font-size: 28px;
    line-height: 42px;
    margin: 0;
  }
}

.headline__buttons {
  margin: 35px auto;

  .btn {
    display: inline-block;
    font-size: 18px;
    margin: 10px 15px;
    padding: 12px 20px;

    .span {
      font-size: 20px;
      padding-right: 6px;
    }
  }
}

.btn--signup-google {
  background: $white;
  border: 0;
  box-shadow: 0 2px 8px 0 rgba(0,0,0,.12);
  color: $blue-light-cornflower;

  &:hover {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,.22);
    color: $blue-dark-cornflower;
  }
}

.features {
  margin: 75px auto;
  max-width: 675px;
  text-align: center;

  h2 {
    margin: 50px 0 25px;
    padding: 0 30px;
  }
}

.section__container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.section__item {
  display: inline-block;
  flex: 0 0 auto;
  margin: 30px 0;
  width: 100%;

  @include screen-sm {
    margin-left: 1em;
    width: calc(100%*1/2 - 2rem - .01px);
  }
}

.section__item__img {
  height: 60px;
  width: 60px;
}

.section__item__title {
  color: $cloud-burst;
  font-size: ceil(($font-size-base * .75));
  font-weight: 700;
  letter-spacing: 1px;
  margin: 25px 0 2px;
  text-transform: uppercase;
}

.section__item__description {
  color: $blue-rock;
  line-height: 24px;
  padding: 0 10px;
}

.footer {
  background: $gray;
  min-height: 100px;
  padding: 50px 0;
}

.footer__container {
  max-width: 1024px;
  margin: 0 auto;
}

.footer__logo {
  margin: 0 auto;
  margin-bottom: 24px;
  text-align: center;

  a {
    margin-bottom: 4px;
    text-decoration: none;

    &:hover {
      text-decoration: none;
    }

    img {
      height: 50px;
    }

    span {
      color: $white;
      letter-spacing: 2px;
      margin-left: 4px;
      text-transform: uppercase;
      vertical-align: middle;

      @include screen-sm {
        display: inline-block;
        font-size: ceil(($font-size-base * 1.125));
      }
    }
  }

  p {
    color: $white;
    font-size: ceil(($font-size-base * .75));
  }
}

.footer__license {
  color: $dainsboro;
  font-size: ceil(($font-size-base * .75));
  text-align: center;
}

.license__image {
  display: block;
  margin-bottom: 10px;
}

.license__link {
  color: $white;

  &:hover,
  &:focus {
    color: $white;
    text-decoration: none;
  }
}
