template(name='landingPage')
  +GA
  nav.nav
    .nav__content
      .nav__logo
        a(href='/')
          img(src='/logo-alpha.png')
          span CodeRoom
            
  
  header.wrapper__signup
    .wrapper__headline
      h1 The Ultimate Online Coding Interview Tool
      h2 Collaborative Editor - Chat
      .headline__buttons
        a.btn.btn--signup-google.btn-js-signup-google
          span.mdi.mdi-google
          | Sign up with Google

  section.features
    h2 Revolutionizing Coding Interview Preparation
    .section__container
      .section__item
        img.section__item__img(src="/code-optimization-xxl.png")
        h3.section__item__title Editor Sharing
        p.section__item__description
          | Help everyone stay on the same page by instantly sharing editor during your session.
      .section__item
        img.section__item__img(src="/chat.png")
        h3.section__item__title Video and Text Chat
        p.section__item__description
          | Connect you with tech experts for live help via video. Ask questions, share links, list action items.

      .section__item
        img.section__item__img(src="/screen-share.jpg")
        h3.section__item__title Screen Sharing
        p.section__item__description
          | Bring visual impact to your conference calls.

      .section__item
        img.section__item__img(src="/video.png")
        h3.section__item__title Session Playback
        p.section__item__description
          | Never lose important information again. Record the entire session, save and playback it later, as often as you want.

  footer.footer
    .footer__container
      .footer__logo
        a(href='/')
          img(src='/logo-alpha.png')
          span CodeRoom

        p © 2016 Jorge Campos
