.content {
  background: $very-light-gray;
  min-width: 276px;
}

.page__resume {
  margin-top: 30px;

  .card {
    width: 100%;

    @include screen-lg {
      width: 33%;
    }

    .btn {
      width: 45%;
    }
  }
}

#new-session {
  .btn {
    width: 95%;
  }
}
