template(name='home')
  nav.nav
    .nav__content
      .nav__logo
        a(href='/')
          img(src='logo-alpha.png')
          span CodeRoom
            
  
  header.wrapper__signup
    .wrapper__headline
      h1 The Ultimate Online Coding Interview Tool
      h2 Collaborative Editor - Chat
      .headline__buttons
        a.btn.btn--signup-google.btn-js-signup-google
          span.mdi.mdi-google
          | Sign up with Google

  section.features
    h2 Revolutionizing Coding Interview Preparation
    .section__container
      .section__item
        img.section__item__img(src="/code-optimization-xxl.png")
        h3.section__item__title Collaborative Editor
        p.section__item__description
          | A beautiful online IDE with a friendly social user experience - we believe coding interview preparation should be fun!
      .section__item
        img.section__item__img(src="http://www.clipartbest.com/cliparts/dT7/eGE/dT7eGEonc.png")
        h3.section__item__title Video and Text Chat
        p.section__item__description
          | Connect you with tech experts for live help via video, and text chat.
      .section__item
        img.section__item__img(src="/video.png")
        h3.section__item__title Room Playback
        p.section__item__description
          | Record the entire interview, every keystroke, each code execution and the related output. Playback the session later, as often as you want.

  section.midi
  
  section.products-google
    .section__container
      .section__item.product.product-drive
        .product__icon
          a
            img(src="https://flat.io/img/icon_drive.svg" width="75" height="76")
        h3 Collaborative experience
        p.description
          | Write your sheet music in real time and with all your friends on the same document (even if you want to write the new Top Charts with 1000 collaborators).
