template(name='modalNewSession')
  //- #modalNewSession.modal.modal--flat(tabindex='-1' role='dialog')
  //-   button.modal-close(type='button' data-dismiss='modal' aria-label='Close')
  //-     span(aria-hidden='true') ×
  //-   .modal-dialog(role='document')
  //-     .modal-content
  //-       form(role='form')
  //-         .modal-header
  //-           h3.modal-title Create Session
  //-         .modal-body
  //-           label Room Name
  //-           input.form-control.form-control--large(type='text' name='text' placeholder='Choose the name of your session')
  //-           button.btn.btn-primary(type='submit')
  //-             | Create

  #modalNewSession.modal.fade(tabindex='-1', role='dialog', aria-labelledby='exampleModalLabel')
        .modal-dialog(role='document')
          .modal-content
            .modal-header
              button.close(type='button', data-dismiss='modal', aria-label='Close')
                span(aria-hidden='true') ×
              h4#exampleModalLabel.modal-title Create Session
            .modal-body
              form
                .form-group
                  label.control-label(for='room-name') Room Name:
                  input#room-name.form-control(type='text')

            .modal-footer
              button.btn.btn-default(type='button', data-dismiss='modal') Cancel
              button.btn.btn-primary.btn-js-save(type='button') Save
