.media__container {
  background: $black;
  border-bottom: 1px solid $very-light-gray;
  height: 12.5rem;
  position: relative;

  video {
    height: 100%;
    width: 100%;
  }
}

.media__controls {
  box-sizing: border-box;
  display: inline-block;
  height: 3.125rem;
  line-height: 3.125rem;
  padding: .2rem .6rem;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 1;

  button {
    float: right;
    margin-left: 2px;
    margin-right: 2px;
  }
}

.media__participants__container {
  bottom: 0;
  left: 0;
  margin: .5rem;
  position: absolute;
  right: 0;

  img {
    border: 2px solid $white;
    position: relative;
    float: right;
    width: 35%;
  }
}

.media__participant {
  float: right;
  margin: 0 4px;
  padding-bottom: 15% !important;
  width: 30%;
}

.media__participant--active,
.popcorn-inception-container {
  border: 2px solid $white;
}

.media__participant,
.popcorn-inception-container {
  background-color: $black;
  height: 0;
  padding-bottom: 50%;
  padding-top: 25px;
  position: relative;

  video {
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
  }
}

@include keyframes(livePulse) {
  0% {
    color: rgba(255, 255, 255, 0.3);
    text-shadow: none;
  }

  60% {
    background-color: $red-orange;
    color: $white;
    text-shadow: 0 0 2px rgba(0, 0, 0, 0.4);
  }

  70% {
    background-color: $red-orange;
    color: $white;
    text-shadow: 0 0 2px rgba(0, 0, 0, 0.4);
  }

  100% {
    color: rgba(255, 255, 255, 0.3);
    text-shadow: none;
  }
}

.badge__mode {
  background-color: rgba(34, 34, 34, 0.75);
  border-radius: 4px;
  display: inline-block;
  font-size: ceil(($font-size-base * .875));
  letter-spacing: 0.5px;
  line-height: 14px;
  padding: 5px;
  text-transform: uppercase;
}

.badge__mode--live {
  @include animation('livePulse 2s 250ms ease-in-out infinite backwards');
  background-color: $red-orange;
}

.media__screen__container {
  position: absolute;
  top: 0;
  background: $black;
  height: 12.5rem;
}

.popcorn-inception > div.popcorn-inception-container {
  height: inherit;
}
