template(name='media')
  .media__container
    .media__controls
      if live
        .badge__mode.badge__mode--live
          if recording
            span.mdi.mdi-record-rec.mdi-18px
          | Live

        +mediaControls

    video#main-media(src='' autoplay)
    
    #localScreenContainer.videoContainer
    
    #media__participants__container.media__participants__container
