.room {
  background: #E9EAEC;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.room__header {
  background: #073648;
  border-bottom: 1px solid #232323;
  height: 3.75rem;
  padding-left: 50px;
  padding-right: 50px;
  width: 100%;
}

.room__container {
  display: flex;
  flex: 1;
  width: 100%;
}

.room__footer {
  background: #3e434a;
  height: 3.75rem;
  position: relative;
  width: 100%;
}

.room__header__logo,
.room__header__controls {
  float: left;
  height: 100%;
}

.room__header__logo {
  a {
    line-height: 60px;
    text-decoration: none;
  }

  img {
    height: 40px;
  }

  span {
    color: $white;
    font-size: 18px;
    letter-spacing: 2px;
    margin-left: 4px;
    text-transform: uppercase;
    vertical-align: middle;
  }
}

.room__header__controls {
  color: $white;
  font-size: 20px;
  font-weight: bold;
  position: relative;
  text-align: center;
  width: calc(100% - 162px);

  > * {
    display: inline-block;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
  }
}

.room__controls__time {
  margin: 0 1.875rem;
  margin-left: -81px;
  padding-bottom: 3px;

  > * {
    vertical-align: middle;
  }
}

.room__controls__current-time {
  line-height: 24px;
  margin-left: .625rem;
}

.room__code__area {
  display: flex;
  flex: 1;
  flex-direction: column;
  width: 70%;
}

.room__chat__area {
  background: #F5F5F5;
  display: flex;
  flex-direction: column;
  width: 30%;
}

.room__footer__title {
  box-sizing: border-box;
  color: $white;
  float: left;
  font-size: $font-size-base;
  font-weight: bold;
  line-height: 3.75rem;
  padding: 0 1.25rem;
}

.room__participants {
  height: 100%;
}

.room__participant {
  border-radius: 2px;
  box-sizing: border-box;
  cursor: pointer;
  float: left;
  font-size: ceil(($font-size-base * .875));
  line-height: 3.74rem;
  margin: 0 1.25rem 0 0;
  padding: 0 .3125rem;
  vertical-align: middle;

  &:hover {
    background: rgba(255, 255, 255, .15);
  }

  i {
    border: 3px solid transparent;
    color: #6eb711;
    margin-right: .3125rem;
    padding: 1px;
    vertical-align: middle;
  }
}

.room__participant__image__profile {
  border-radius: 50%;
  width: 1.5625rem;
}

.room__participant__name {
  color: $white;
  display: inline-block;
  margin-left: .3125rem;
  overflow: hidden;
  text-overflow: ellipsis;
  vertical-align: middle;
  white-space: nowrap;
  // width: 65%;
}

.room__participant--active {
  i {
    animation: pulsate 1s ease-out;
    animation-iteration-count: infinite;
    border: 3px solid #d54938;
    border-radius: 30px;
    padding: 1px;
  }
}

@-webkit-keyframes pulsate {
  0% {-webkit-transform: scale(0.1, 0.1); opacity: 0.0;}
  50% {opacity: 1.0;}
  100% {-webkit-transform: scale(1.2, 1.2); opacity: 0.0;}
}
