.room {
  display: flex;
  flex-direction: column;
  min-height: calc(100vh - 60px);
}

.room__container {
  display: flex;
  flex: 1;
  width: 100%;
}

.room__footer {
  background: $steel-grey;
  height: 3.75rem;
  position: relative;
  width: 100%;
}

.room__controls__time {
  padding-bottom: 3px;

  > * {
    vertical-align: middle;
  }
}

.room__controls__current-time {
  line-height: 24px;
  margin-left: .625rem;
}

.room__code__area {
  display: flex;
  flex: 1;
  flex-direction: column;
  width: 70%;
}

.room__chat__area {
  background: $white-smoke;
  display: flex;
  flex-direction: column;
  width: 30%;
}

.room__footer__title {
  box-sizing: border-box;
  color: $white;
  float: left;
  font-size: $font-size-base;
  font-weight: bold;
  line-height: 3.75rem;
  padding: 0 1.25rem;
}

.room__participants {
  height: 100%;
}

.room__participant {
  border-radius: 2px;
  box-sizing: border-box;
  cursor: pointer;
  float: left;
  font-size: ceil(($font-size-base * .875));
  line-height: 3.74rem;
  margin: 0 1.25rem 0 0;
  padding: 0 .3125rem;
  vertical-align: middle;

  &:hover {
    background: rgba(255, 255, 255, .15);
  }

  i {
    border: 3px solid transparent;
    color: $christi;
    margin-right: .3125rem;
    padding: 1px;
    vertical-align: middle;
  }
}

.room__participant__image__profile {
  border-radius: 50%;
  width: 1.5625rem;
}

.room__participant__name {
  color: $white;
  display: inline-block;
  margin-left: .3125rem;
  overflow: hidden;
  text-overflow: ellipsis;
  vertical-align: middle;
  white-space: nowrap;
}

@include keyframes(pulsate) {
  0% {
    @include transform(scale(0.1, 0.1));
    opacity: 0.0;
  }

  50% {
    opacity: 1.0;
  }

  100% {
    @include transform(scale(1.2, 1.2));
    opacity: 0.0;
  }
}

.room__participant--active {
  i {
    @include animation('pulsate 1s ease-out');
    animation-iteration-count: infinite;
    border: 3px solid $red-orange;
    border-radius: 30px;
    padding: 1px;
  }
}
