template(name='room')
  .room
    .room__container
      .room__code__area
        if isModerator
          +editor(mode='edit')
        else
          +editor
      .room__chat__area
        +media
        +chat

    .room__footer
      .room__footer__title
        | Participants

      .room__participants

  if isModerator
    +newRecording
    +stopBroadcast
  else
    +finishedBroadcast
    +leaveRoom
