template(name='roomControls')
  .room__controls
    if live
      .room__controls__time
        i.mdi.mdi-clock.mdi-24px
        span.room__controls__current-time
          | 00:00

    button.btn.btn-danger.btn-js-start-live(class="{{#if live}}hidden{{/if}}")
      | Start Broadcast

    button.btn.btn-primary.btn-js-stop-live(class="{{#unless live}}hidden{{/unless}}")
      span.glyphicon.glyphicon-stop
      | Stop
