template(name="room")
  //- .room
  //-   button.btn.btn-danger.btn-js-record
  //-     span.glyphicon.glyphicon-record
  //-     | Record
  //-   
  //-   button.btn.btn-primary.btn-js-stop
  //-     span.glyphicon.glyphicon-stop
  //-     | Stop
  //- 
  //-   .room__toggler
  //-     +editor
  //- 
  //-   video#videoreply(src="https://media.w3.org/2010/05/sintel/trailer.mp4" controls muted)

  //- .room
  //-   .room__container
  //-     .room__container__media
  //-       +video
  //-     .room__container__editor
  //-       +editor
  //-   .room__footer

  .room
    .room__header
      .room__header__logo
        input(
          type='checkbox'
          name='role'
          value='admin'
          unchecked
        )
      .room__header__controls
        +roomControlsBar

    .room__container
      .room__code__area
        +editor
      .room__chat__area
        .room__chat__bar
        .room__chat__container
          //- +roomToolbar
          video#video-room__local(src="" muted autoplay)
          
          .room__chat__participants

    .room__footer
      .room__footer__title
        | Participants

      .room__participants
