template(name='roomItem')
  .card
    .card__actions
      button.btn.dropdown-toggle(data-toggle='dropdown' aria-haspopup='true' aria-expanded='false')
        span.mdi.mdi-settings
      ul.dropdown-menu
        li
          a.btn-js-delete-room(href='#')
            | Delete

    .card__image
      img(src='/group-icon.png')
    .card__block
      h3.card__title
        | #{name}
      a.btn.btn-primary(href="{{pathFor route='room' _id=_id}}") Join Room
      button.btn.btn-success.btn-js-invite
        | Invite Guest
