main {
  position: relative;
}

.overlay__container {
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  z-index: 4;

  &:before {
    background: white;
    bottom: 0;
    content: '';
    left: 0;
    opacity: 1;
    position: absolute;
    right: 0;
    top: 0;
  }
}
