template(name="layout")
  .room__header
    .room__header__logo
      a(href='/')
        img(src='https://cdn-images-1.medium.com/fit/c/60/60/1*8IJLE6whfP_f3rE8mFiAkA.png')
        span CodeRoom

  main
    .container
      +yield

  if loading
    .overlay__container
      +spinner
