template(name='chat')
  .chat__container
    .chat__messages
      .chat__messages__empty

  .chat__input
    .chat__input__text
      textarea(placeholder='Send a message...' onkeypress=onTestChange)
