template(name='deleteRecording')
  #deleteRecording.modal.modal--flat(tabindex='-1' role='dialog')
    button.modal-close(type='button' data-dismiss='modal' aria-label='Close')
      span(aria-hidden='true') ×
    .modal-dialog(role='document')
      .modal-content
        .modal-header
          h3.modal-title Delete Recording
        .modal-body
          p.modal__text
        .modal-footer
          button.btn.btn-default(type='button', data-dismiss='modal') Cancel
          button.btn.btn-red.btn-js-delete-recording Delete
