template(name='notificationItem')
  a.notification.list-group-item(href="{{pathFor route='room' _id=urlToContent}}")
    .notification__img
      img(src='#{img}')
    .notification__content
      .notification__heading Invitation - #{startDate} to #{endDate}
      small.notification__text #{content}
