template(name='notificationsWidget')
  a(data-toggle='dropdown')
    span.mdi.mdi-bell.mdi-24px
    if notificationCount
      span.notifications__count #{notificationCount}
  .dropdown-menu.notifications
    .notifications__header
      | Notifications
    .notifications__body
      if notificationCount
        each notifications
          +notificationItem
        a.notifications__footer(href='{{pathFor route="notifications"}}')
          | All Notifications
      else
        li
          span No Notifications
