template(name='notifications')
  +GA
  .content
    .container
      .row
        .col-xs-12
          .notifications__container.notifications--list
            if notificationCount
              each notifications
                +notificationItem
            else
              li
                span No Notifications
