template(name='myPlaylists')
  .box
    .box__header.box__header--with-border
      h3 My Playlists
    .box__body
      .box__container
        if playlistsCount
          ul.items__list
            each playlists
              +playlistItem
        else
          .msg.msg--info
            span.mdi.mdi-information
            | No Playlists
