.header {
  background: $header-bg;
  border-bottom: 1px solid #232323;
  height: 3.75rem;
  padding: 0 50px;
  width: 100%;
}

.header__logo {
  float: left;
  height: 100%;
  line-height: 60px;
  text-decoration: none;

  &:hover {
    text-decoration: none;
  }

  img {
    height: 50px;
  }

  span {
    color: $white;
    font-size: ceil(($font-size-base * 1.125));
    letter-spacing: 2px;
    margin-left: 4px;
    text-transform: uppercase;
    vertical-align: middle;
  }
}
