.navbar {
  border: none;
  border-radius: 0;
  box-shadow: none;
  margin-bottom: 0;

  .container {
    padding: 0;
  }
}

.navbar--blue {
  background: linear-gradient(45deg,#33b1f8 0,#6e90f6 100%);
}

.navbar__logo {
  float: left;
  margin-left: 0;
  margin-right: 0;

  a {
    display: block;
    margin: 0;
    width: 180px;
    height: 75px;
    line-height: 75px;
  }
}

.navbar__menu {
  float: right;

  > li {
    display: block;
    line-height: 75px;
    padding-bottom: 0px;

    a {
      color: $white;
      display: inline-block;
      font-weight: bold;
      line-height: 67px;
      outline: 0;
      padding: 4px 22px;
      text-decoration: none;

      &:hover {
        background-color: #378cf1;
      }
    }
  }

  .navbar__item-profile {
    padding-right: 0px;
    padding-top: 0px;

    .btn-group {
      border: none;
      height: 75px;
      line-height: 75px;

      &:hover,
      &:focus {
        background-color: #378cf1;
      }
    }
  }

}

.btn__dropdown-toggle {
  background: none;
  border: none;
  color: $white;
  float: none !important;
  padding: 6px 16px;
  vertical-align: middle;

  &:hover,
  &:focus {
    color: $white;
    outline: 0;
  }

  &:active {
    box-shadow: none;
    &:focus {
      outline: 0;
    }
  }

  .caret {
    margin-left: 10px;
  }
}

.profile__avatar {
  color: #4cc7c7;
  font-size: 20px;
  line-height: 33px;
  margin-right: 15px;
  padding: 0;
  position: relative;
  width: 30px;

  img {
    border: 2px solid $white;
    border-radius: 50%;
    height: 40px;
    width: 40px;
  }
}
