.header {
  max-height: 130px;
  position: relative;
  z-index: 4;

  .header__logo {
    text-decoration: none;
  }
}

.header__logo {
  background-color: #fafafa;
  border-bottom: 1px solid $light-gray;
  color: #333;
  display: block;
  float: none;
  font-size: 14px;
  font-weight: 600;
  height: 65px;
  letter-spacing: 1.5px;
  line-height: 65px;
  overflow: hidden;
  padding: 0 15px;
  text-align: center;
  text-transform: uppercase;
  @include transition(width .3s ease-in-out);
  width: 100%;

  @include screen-sm {
    border-bottom: 0;
    float: left;
    width: 280px;
  }

  &:hover {
    background-color: #f7f7f7;
    color: #333;
  }
}

.header__navbar {
  background-color: $white;
  border: none;
  border-radius: 0;
  float: none;
  margin: 0;
  min-height: 65px;
  @include transition(margin-left .3s ease-in-out);

  @include screen-sm {
    margin-bottom: 0;
    margin-left: 280px;
  }
}

.header__navbar--static-top {
  z-index: 10;
}

.header__sidebar-toggle {
  background: transparent;
  border-right: 1px solid #e6e6e6;
  border-left: 1px solid #e6e6e6;
  color: #000;
  float: left;
  height: 65px;
  padding: 23px 30px;

  &:hover {
    color: #232323;
    background: #f1f1f1;
  }
}

.header__navbar__menu {
  float: right;
}

.header__navbar__nav {
  float: right;
  list-style: none;
  margin: 0;
  padding-left: 0;

  li {
    border-right: 1px solid #e6e6e6;
    display: block;
    float: left;
    position: static;

    @include screen-sm {
      position: relative;
    }

    &:first-child {
      border-left: 1px solid #e6e6e6
    }

    a {
      line-height: 65px;
      color: #000;
      padding: 0 20px;

      position: relative;
      display: block;
      text-decoration: none;

      &:hover {
        color: #232323;
        background: #f1f1f1;
      }
    }

    .label {
      font-size: 9px;
      line-height: .9;
      padding: 2px 3px;
      position: absolute;
      right: 7px;
      text-align: center;
      top: 9px;
    }
  }

  .dropdown {
    &.open {
      .dropdown-menu {
        visibility: visible;
        -webkit-transform: scale(1);
        transform: scale(1);
        opacity: 1;
      }

    }

    .dropdown-menu {
      border-color: #eee;
      box-shadow: none;
      border-top-right-radius: 0;
      border-top-left-radius: 0;
      display: block;
      left: auto;
      margin: 0;
      opacity: 0;
      overflow: hidden;
      padding: 0;
      position: absolute;
      right: 0;
      @include transition(all .2s ease-in-out);
      @include transform(scale(.9));
      @include transform-origin(top right);
      visibility: hidden;
      width: 280px;
    }
  }
}

.navbar__image {
  border-radius: 50%;
  height: 25px;
  margin-right: 0;
  width: 25px;

  @include screen-sm {
    margin-right: 10px;
  }
}
