template(name='header')
  header.header
    a.header__logo(href='/')
      img(src='https://codie.herokuapp.com/img/codie-rect-alpha.png')
      span CodeRoom

    .header__content
      +roomControls
