template(name='header')
  header.header
    a.header__logo(href='/')
      span Meteor Room

    nav.header__navbar.header__navbar--static-top
      a.header__sidebar-toggle.header-js-toggle(
        href='#',
        role='button'
      )
        i.mdi.mdi-menu
        span.sr-only Toggle navigation

      if currentUser
        .header__navbar__menu
          ul.header__navbar__nav
            li.dropdown
              a(href='#', data-toggle='dropdown')
                i.mdi.mdi-bell
                span.label.label-danger 0

                ul.dropdown-menu
                  li
                    a(href='#') Item

            li.dropdown
              a(href='#', data-toggle='dropdown')
                img.navbar__image(src="#{user.picture}", alt='User Image')
                span.hidden-xs #{user.name}
