template(name='header')
  header.header
    a.header__logo(href='/')
      img(src='https://codie.herokuapp.com/img/codie-rect-alpha.png')
      span CodeRoom

    .header__content
      +roomControls

      if isMain
        ul.header__menu.pull-right
          li.dropdown
            +notifications
          li
            a.btn-js-logout
              span.mdi.mdi-logout
