template(name='notFound')
  .page__wrapper
    .page__content.container
      h1 404
      h2 Page Not Found!
      img(src='/logo-alpha.png')
      p We are sorry!
      p Please check the link, it could not be right.
      p This is the result of trying to access an invalid or no data resource.
