template(name='notFound')
  .page__wrapper
    .page__content.container
      h1 404
      h2 Page Not Found
      img(src='/logo-alpha.png')
      p We're sorry
      p The page you have requested cannot be found
